.btn-pink {
  color: #fff !important;
  background-color: #fb2e86 !important;
  border-color: #fb2e86 !important;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  box-shadow: none !important;
}
.btn-pink:focus {
  background-color: #fb2e86 !important;
  border-color: #fb2e86 !important;
  color: #fff !important;
  box-shadow: none !important;
}
.btn-outline-pink {
  background-color: #fb2e86 !important;
  border-color: #fb2e86 !important;
  color: #fff !important;
  box-shadow: none !important;
}
